/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

.logo--main {
	width: 75px;
	aspect-ratio: 73/18;
	background-image: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	&.alt {
		background-image: url('../images/logo-100.svg');	
	}
}

.masthead {
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	mix-blend-mode: difference;
	z-index: 10;
	color: #fff;
}