/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

.logo--main {
	width: 75px;
	aspect-ratio: 73/18;
	background-image: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.masthead {
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	z-index: 10;
}