/*--------------------------------------------------------------
## Preloader Styling
--------------------------------------------------------------*/

.preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 1;
	background-color: #fff;
	z-index: 12;
	left: 0px;
	top: 0px;
}

.logo-wrapper {
	top: calc(50% - 30px);
	position: absolute;
}

.text-wrapper {
	top: calc(50% - 30px);
	position: absolute;
}

.preloader .word {
	opacity: 0;
	display: inline-block;
}