/*--------------------------------------------------------------
## Project Styling
--------------------------------------------------------------*/

.project-media {
	width: 100%;
	max-width: 75%;
	margin: auto;
}