/*--------------------------------------------------------------
## Project Styling
--------------------------------------------------------------*/

.project-media {
	width: 100%;
	max-width: 75%;
	margin: auto;
	&.portrait {
		max-width: 27%;
	}
}

.project--feed-item-inner {
  will-change: transform;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.project--feed-viewport {
  height: 100%;
  overflow: hidden;
}

.project--feed-track {
	max-width: 38%;
}

